@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased text-gray-800;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
